# [ public ]
.DS_Store
/public/js/*
/public/css/*

# [ laravel ]
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# [ argon dashboard ]
/public/argon

# [ log, temporary ]
/logs
/tmp

# [ docker php ]
/docker/php/psysh/*

.php_cs.cache
